/*Стили страницы списка новостей*/
    #cap{
        height:40px;
    }
    #menu, #edit{
        text-align:center;
    }
    #all_news{
        border:1px solid #ccc;
        width:500px;
        margin:50px auto;
        background-color:#eee;
    }
    #string{
        border-bottom: 1px solid #888;
    }
    #title{
        padding-left:10px;
        display:inline-block;
        width:100px;
        background-color:#cc9;
    }
    #content{

    }
/*стили страницы создания новой статьи*/
    #new_article{
        border:1px solid #ccc;
        width:500px;
        margin:50px auto;
        background-color:#eee;
    }
    #new_title{
        display:block;
        margin:10px auto;
    }
    #new_content{
        display:block;
        margin:10px auto;
        width:480px;
        height:200px;
        overflow:visible;
    }
    #submit_new{
        margin-left:40px;
    }

